<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <script csp-hash>
      performance.mark('HEAD End');
      performance.measure('HEAD Time', 'HEAD Start', 'HEAD End');
    </script>
    <style>{{ page.url | webcGetCss | safe }}</style>
    <script>{{ page.url | webcGetJs | safe }}</script>
  </head>
  <body>
    <main class="container">
      {{ content | safe }}
    </main>
  </body>
</html>