<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
		<title>Njk Example</title>
    <style>{{ page.url | webcGetCss | safe }}</style>
    <script>{{ page.url | webcGetJs | safe }}</script>
  </head>
  <body>
    {{ content | safe }}
    {% include 'components/footer.njk' %}
  </body>
</html>