---
layout: layouts/base.njk
---

{% renderTemplate "webc" %}	
    <tool-tip role="tooltip" webc:type="11ty" 11ty:type="njk" webc:keep>
        {{ 'externallink' | i18n({ link: 'Openstreetmap' }, lang)}}
    </tool-tip>
{% endrenderTemplate %}
