---
layout: layouts/base.njk
lang: 'en'
---

{% renderTemplate "webc" %}	
    <tool-tip role="tooltip" webc:type="11ty" 11ty:type="njk" webc:keep>
        Lang: {{lang}}
        Translation: {{ 'externallink' | i18n({ link: 'Openstreetmap' }, lang)}} 
    </tool-tip>
{% endrenderTemplate %}
